

body {
    *:not(ion-icon) {
        font-family: 'opensans_regular';
        line-height: initial;
    }
    background-color: $brand-turquoise;
    ion-app {
        background-color: $brand-turquoise;
        .app-root {
            background-color: $brand-turquoise;
        }
    }
}

$input-font-size: 0.8em;
.select-input,
.text-input {
    margin-bottom: 0px;
    clear: both;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 15px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    padding: 5px 10px;
    font-size: $input-font-size;
    height: 50px;
    // background-color: rgba(255,255,255,0.2);
    transition: all .60s ease;

    &:focus {
        border-bottom: 1px solid white;
    }
}

.register {
    font-size: .6em;
    margin: 30px auto;
}

::-webkit-input-placeholder {
    color: peachpuff;
    font-size: $input-font-size;
  }
  ::-moz-placeholder {
    color: peachpuff;
    font-size: $input-font-size;
  }
  :-ms-input-placeholder {
    color: peachpuff;
    font-size: $input-font-size;
  }
  ::placeholder {
    color: peachpuff;
    font-size: $input-font-size;
  }

ion-buttons {
    width: 100%;
    float: left;
    position: relative;
    display: block;

    button {
        cursor: pointer;
        color: white;
        background: transparent;
        border: 2px solid $brand-turquoise;
        border-radius: 10px;
        font-size: 0.6em;
        padding: 12px 28px;

        &:hover,
        &.invert {
            background: $brand-turquoise;
            border: 2px solid white;
        }

        &.full-width {
            width: 100%;
        }
    }

}

.content {
    &.transparent {
        background: transparent;
    }
}

.badge {
    border-radius: 0px;
    color: #fff;
    background-color: transparent;
    font-size: 0.4em;
    padding: 4px;
    margin-bottom: 5px;
    font-weight: initial;
}

ion-footer,
ion-header {
    &.header-ios {
        padding-top: 5px;
    }
    z-index: 9999;
    @include box-shadow(0,0,0,$brand-white);
    
    &.footer-md,
    &.header-md{
        &::after,
        &::before{
            background-image: none;
        }
    }
}

ion-label {
    font-size: 0.5em;
}

.header, 
.footer {
    .toolbar-ios:last-child {
        .toolbar-background-ios {
            border-width: 0px;
        }
    }
    .toolbar-background-ios {
        border-width: 0px;
    }
}

ion-page {
    >ion-content {
        position: relative;
    }
}

a {
    color: $brand-turquoise;
}

.swiper-pagination
{
    bottom: 10%;
}

.toolbar-background {
    background-color: transparent;
}

.menu-content-open {
    @include box-shadow(0,0,0,$brand-white);
    border: 1px solid black;
    border-top-width: 0px;
    border-bottom-width: 0px;
}