
a {
    color: $brand-turquoise;
}

ion-label {
    font-size: 0.5em;
}

ion-footer,
ion-header {
    z-index: 9999;
    @include box-shadow(0,0,0,$brand-white);
    
    &.footer-md,
    &.header-md{
        &::after,
        &::before{
            background-image: none;
        }
    }
}

.header-ios, 
.footer-ios {
    .toolbar-ios:last-child {
        .toolbar-background-ios {
            border-width: 0px;
        }
    }
    .toolbar-background-ios {
        border-width: 0px;
    }
}

.ion-page {
    >ion-content {
        position: relative;
    }
}

.swiper-pagination-fraction, 
.swiper-pagination-custom, 
.swiper-container-horizontal > .swiper-pagination-bullets
{
    bottom: 100px;
}

.toolbar-background {
    background-color: transparent;
}

.ios .menu-content-open {
    @include box-shadow(0,0,0,$brand-white);
    border: 1px solid black;
    border-top-width: 0px;
    border-bottom-width: 0px;
}