ion-header {
    z-index: 9999;

    .logo {
        width: 105px;
        background-repeat: no-repeat;
        height: 22px;
        background-image: url('/assets/imgs/logos/logo.png');
        background-size: 100%;
    }
}
