
.ion-page {
    .bg {
        filter: brightness(0.5);
        // filter: grayscale(0.6) blur(0px);
        background-size: cover;
        background-position: center;

        &.bg_3 {
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
        
        &.bg_1 {
            background-image: url('/assets/imgs/default/1.jpg');
        }

        &.bg_2 {
            background-image: url('/assets/imgs/default/2.jpg');
            background-position: 60% -140px; //background-position: 60% 0px;
            background-size: 460%;
        }

        &.bg_3 {
            background-image: url('/assets/imgs/default/3.jpg');
            background-position: 61% 0px;
        }

        &.bg_4 {
            background-image: url('/assets/imgs/default/4.jpg');
        }

        &.bg_5 {
            background-image: url('/assets/imgs/default/5.jpg');
        }

        &.bg_6 {
            background-image: url('/assets/imgs/default/6.jpg');
            // background-position: initial;
            background-position: 70%;
        }
    }

    .swiper-pagination {
        bottom: 10%;
        .swiper-pagination-bullet {
            width: 18px;
            height: 18px;
            background-color: $brand-turquoise;
        }
    }
}

.grid {    
    z-index: 99999;
    background-color: transparent;
    position: absolute;
    top: 30%;
    padding: 0 5%;
    color: white;

    .grid-inner {
        padding: 20px;
        background: rgba(255,255,255,0.2);
        border-radius: 20px;
    }

    button {
        margin-top: 20px;
    }
}

ion-content {
    .fixed-content,
    .scroll-content {
        margin-top: 0px !important;
    }
}