
ion-nav {
    @include box-shadow(0,0,0, white);
}

ion-menu {

    .content {
        background-color: $color-menu;

        .list {
            margin-top: $menu-margin;
            background-color: $color-menu;
            
            .item {
                min-height: 20px;
                padding: 0px;
                border: none;
                background-color: $color-menu;

                .item-inner {
                    padding: 0px;

                    .input-wrapper {

                        .label {
                            margin: 0px;
                            padding: 0px;

                            a {
                                width: 100%;
                                float: left;
                                padding: 20px 14px;
                            }
                        }
                    }
                }
            }
        }
    }

    .icon {
        margin-right: 6px;
    }

    .copyright {
        position: absolute;
        bottom: 20px;
        left: 20px;
        font-size: 0.5em;
        color: grey;
    }

}
